body {
  background-color: beige
}
p {
  text-align: center;
  font-size: 300%;
}
img {
  display: block;
  margin-right: auto;
  margin-left: left;
  align: center;
padding: 19px;
  
}
   
h1{
  float:right;
}
text-align: center;
